In [1]:
import numpy as np
import pandas
import matplotlib.pyplot as plt
import sys
sys.path.insert(0,'Python/')

In [2]:
from modelos import Verhulst
from parametros import K_Verhulst,r_Verhulst
from solucionadores import EulerModificado
from parametros import tm
from parametros import polinomio

In [3]:
dados = pandas.read_excel("Planilhas/dados_populacionais.xlsx")

dados

    Ano  Populacao
0  1991    9138670
1  2000   10187798
2  2010   10693929

In [14]:
K = K_Verhulst(dados['Populacao'][0],dados['Populacao'][1],dados['Populacao'][2])
K

-1090112.509859726

In [15]:
r = r_Verhulst(dados['Populacao'][0],dados['Populacao'][1],K,10)
r

0.0011035439731889396

In [16]:
params = dict({'r': r ,'K': K})
#params = dict({'r': 0.04285 ,'K': 218858})
params

{'r': 0.0011035439731889396, 'K': -1090112.509859726}

In [26]:
vt = np.linspace(0,10+10,200)

simulacao = EulerModificado(vt,dados['Populacao'][0],Verhulst,params) 

round(simulacao[-1])

11492688

In [8]:
#plt.plot(vt,simulacao,'b',label='Modelo de Malthus')

#plt.title('Simulação populacional pelo método RK4')
#plt.xlabel('Tempo (Anos)')
#plt.ylabel('Número de habiltantes')
#plt.legend()
#plt.yscale("log")
#plt.xscale("log")
plt.show()

In [9]:
((203942-191900)/191900)*100

6.2751433038040645